.view-course-page {
  display: flex;
  flex-direction: column;
}

.view_course_page__course-info-bar {
  margin-top: 50px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.view-course-page__teacher-view-text {
  margin-top: 20px;
  font-size: 1.6rem;
}
