.view-course-page {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.view-course-page__course-title {
  font-size: 1.6rem;
  width: fit-content;
}

.view_course_page__course-info-bar {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.view-course-page__teacher-view-text {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .view-course-page,
  .view-course-page__teacher-view-text {
    font-size: 1.6rem;
  }
  .view-course-page__course-title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .view-course-page,
  .view-course-page__teacher-view-text {
    font-size: 2rem;
  }
  .view-course-page__course-title {
    font-size: 2.4rem;
  }
}
