.bulk-grade-page__review-students-list {
  list-style-type: none;
}
.bulk-grade-page__review-students-list__item {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  width: 330px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-bulk-grades__mark-missing-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-bulk-grades__mark-missing-checkbox {
  cursor: pointer;
  height: 40px;
  width: 40px;
}
