:root {
  --secondary-color: #d9dee4;
  --primary-color: #edeef0;
  --teritary-color: #3e53a0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body,
button {
  background-color: var(--primary-color);
  color: #323955;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.error-text,
.red-text {
  color: red;
}

.green-text {
  color: green;
}

.bold-text {
  font-weight: 600;
}
