.header-box {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(183, 183, 183);
  padding: 20px 20px;
}

.profile-box {
  display: flex;
  align-items: center;
}
.profile-img-box {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-img {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 26px;
  height: 26px;
}

.profile-name {
  margin-left: 10px;
  color: rgb(23, 23, 23);
  font-size: 1.8rem;
}

.student-entry-page__logout-btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .profile-name {
    font-size: 2.1rem;
  }
  .profile-img-box {
    width: 48px;
    height: 48px;
  }
  .profile-img {
    top: 8px;
    right: 4px;
    width: 30px;
    height: 30px;
  }
  .student-entry-page__logout-btn {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .profile-name {
    font-size: 2.3rem;
  }
  .profile-img-box {
    width: 51px;
    height: 51px;
  }
  .profile-img {
    right: 0px;
    width: 35px;
    height: 35px;
  }
  .student-entry-page__logout-btn {
    font-size: 2.1rem;
  }
}
@media (min-width: 1440px) {
  .profile-name,
  .student-entry-page__logout-btn {
    font-size: 2.5rem;
  }
  .profile-img-box {
    width: 54px;
    height: 54px;
  }
  .profile-img {
    top: 6px;
    right: 3px;
    width: 37px;
    height: 37px;
  }
}
