.grades-bar__weight-grade,
.grades-bar-list {
  font-size: 1.2rem;
}
.grades-bar__weight-grade {
  margin-top: 24px;
}
.grades-bar-list {
  margin-top: 5px;
  list-style: none;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  column-gap: 10px;
}

@media (min-width: 768px) {
  .grades-bar__weight-grade,
  .grades-bar-list {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .grades-bar__weight-grade,
  .grades-bar-list {
    font-size: 2rem;
  }
}
